<p-card [style]="{ width: '100%' }" header="Filters">
    <div class="inputs" [formGroup]="globalFormGroup">
        <p-select [options]="semesters" formControlName="trmCde" placeholder="Select Semester" [checkmark]="true" [showClear]="true" class="w-full" />
        
        <p-multiselect [options]="students" formControlName="studentIds" placeholder="Select Students" [maxSelectedLabels]="3" display="chip" class="w-full" />
        
        <p-multiselect [options]="courses" formControlName="courses" placeholder="Select Courses" [maxSelectedLabels]="3" display="chip" class="w-full" />
        
        <p-multiselect [options]="seniorities" formControlName="seniorities" placeholder="Select Seniorities" [maxSelectedLabels]="3" display="chip" class="w-full" />
    </div>

    <div class="buttons">
        <p-button (onClick)="onSearch()" label="Search" severity="contrast" />
        <p-button (onClick)="onClear()" label="Clear" severity="secondary" />
    </div>
</p-card>
