<p-card *ngIf="attendance && filteredData && filteredData.length">
    <p class="title"><i class="pi pi-table" style="font-size: 25px;color: #2563EB;margin-right: 15px;"></i>Detailed Records</p>
    <div class="tags">
        <p-tag icon="pi pi-check" severity="success" value="Presences: {{present}}" />
        <p-tag icon="pi pi-clock" severity="warn" value="Latenesses: {{late}}" />
        <p-tag icon="pi pi-times" severity="danger" value="Absences: {{absent}}" />
    </div>

    <div style="display: flex;">
        <div style="width: 33%;margin-right: 5px;">
            <p-select [(ngModel)]="selectedStudent" (ngModelChange)="searchQuery(0)" [options]="students" [filter]="true" [showClear]="true" placeholder="Select a Student" class="w-full">
                <ng-template #selectedItem let-selectedOption>
                    <div class="flex items-center gap-2">
                        <div>{{ selectedOption }}</div>
                    </div>
                </ng-template>
                <ng-template let-value #item>
                    <div class="flex items-center gap-2">
                        <div>{{ value }}</div>
                    </div>
                </ng-template>
            </p-select>
        </div>
        <div style="width: 33%;margin-right: 5px;margin-left: 5px;">
            <p-select [(ngModel)]="selectedAttenanceType" (ngModelChange)="searchQuery(1)" [options]="attendanceTypes" [filter]="true" [showClear]="true" placeholder="Select an Attendance Type" class="w-full">
                <ng-template #selectedItem let-selectedOption>
                    <div class="flex items-center gap-2">
                        <div>{{ selectedOption }}</div>
                    </div>
                </ng-template>
                <ng-template let-value #item>
                    <div class="flex items-center gap-2">
                        <div>{{ value }}</div>
                    </div>
                </ng-template>
            </p-select>
        </div>
        <div style="width: 33%;margin-left: 5px;">
            <p-select [(ngModel)]="selectedCourse" (ngModelChange)="searchQuery(2)" [options]="courses" [filter]="true" [showClear]="true" placeholder="Select a Course" class="w-full">
                <ng-template #selectedItem let-selectedOption>
                    <div class="flex items-center gap-2">
                        <div>{{ selectedOption }}</div>
                    </div>
                </ng-template>
                <ng-template let-value #item>
                    <div class="flex items-center gap-2">
                        <div>{{ value }}</div>
                    </div>
                </ng-template>
            </p-select>
        </div>
    </div>

    <p-table [virtualScroll]="true" [virtualScrollItemSize]="100" [lazy]="true" [value]="filteredData" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th>ID</th>
                <th>Course</th>
                <th>Seniority</th>
                <th>Attendance</th>
                <th>Status</th>
                <th>Grade</th>
                <th>Date</th>
            </tr>
        </ng-template>
        <ng-template #body let-filteredData>
            <tr>
                <td>{{filteredData.student_sis_id}}</td>
                <td>{{filteredData.course_sis_id}}</td>
                <td>{{filteredData.seniority}}</td>
                <td *ngIf="filteredData.attendance === 'present'"><p-tag icon="pi pi-check" severity="success" [value]="filteredData.attendance" [rounded]="true" /></td>
                <td *ngIf="filteredData.attendance === 'absent'"><p-tag icon="pi pi-times" severity="danger" [value]="filteredData.attendance" [rounded]="true" /></td>
                <td *ngIf="filteredData.attendance === 'late'"><p-tag icon="pi pi-clock" severity="warn" [value]="filteredData.attendance" [rounded]="true" /></td>
                <td *ngIf="filteredData.attendance === 'unmarked'"><p-tag icon="pi pi-question-circle" severity="secondary" [value]="filteredData.attendance" [rounded]="true" /></td>
                <td>{{filteredData.status}}</td>
                <td>{{filteredData.grade}}</td>
                <td>{{formatDate(filteredData.marked_at)}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
