<div class="page">
    <div class="auth mb-4 p-8">
        <p-card>
            <p class="title">Welcome Back</p>
            <p style="text-align: center;color: gray;">Sign in to access your attendance dashboard</p>
            <div style="display: flex;justify-content: center;margin-top: 20px;">
                <button routerLink="/" class="filter-button"><i class="pi pi-sign-in" style="font-size: 15px"></i>&emsp;Sign in with Microsoft</button>
            </div>
            <p style="text-align: center;color: gray;">Access your attendance tracking and management tools</p>
        </p-card>
    </div>
</div>
