.title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 7px;
}

.subtitle {
    font-size: 14px;
    color: #929292;
}

.list {
    width: 100%;
    margin: 5px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    width: 100%;
}

.card {
    border-left: 4px solid #c2420d;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.course {
    font-size: 16px;
    color: #a0a0a0;
}

.seniority {
    font-size: 14px;
    color: #a0a0a0;
}
