<div class="page">
    <div class="content">
        <app-filters (search)="getSearchDto($event)"></app-filters>
        <div class="driver-buttons">
            <button class="driver-button" (click)="changeDriver(0)" [style]="drivers[0] ? 'background-color: white; color: black;' : 'background-color: #F0F8FF; color: grey;'">
                <i class="pi pi-file" style="font-size: 1rem"></i>
                Details
            </button>
            <button class="driver-button" (click)="changeDriver(1)" [style]="drivers[1] ? 'background-color: white; color: black;' : 'background-color: #F0F8FF; color: grey;'">
                <i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i>
                Absences
            </button>
            <button class="driver-button" (click)="changeDriver(2)" [style]="drivers[2] ? 'background-color: white; color: black;' : 'background-color: #F0F8FF; color: grey;'">
                <i class="pi pi-calendar" style="font-size: 1rem"></i>
                Meetings
            </button>
            <button class="driver-button" (click)="changeDriver(3)" [style]="drivers[3] ? 'background-color: white; color: black;' : 'background-color: #F0F8FF; color: grey;'">
                <i class="pi pi-chart-bar" style="font-size: 1rem"></i>
                Stats
            </button>
        </div>
        <app-deatails-table *ngIf="drivers[0]" [searchDto]="searchDto"></app-deatails-table>
        <app-absence-threshold *ngIf="drivers[1]" [searchDto]="searchDto"></app-absence-threshold>
        <app-meeting-history *ngIf="drivers[2]" [searchDto]="searchDto"></app-meeting-history>
        <app-stats *ngIf="drivers[3]" [searchDto]="searchDto"></app-stats>
    </div>
    <app-navbar></app-navbar>
</div>

<p-toast />
