<div class="page">
    <div class="content">
        <app-filters></app-filters>
        <div class="driver-buttons">
            <button class="driver-button" (click)="changeDriver(0)" [style]="drivers[0] ? 'background-color: white; color: black;' : 'background-color: #e5eff9; color: grey;'">
                <i class="pi pi-file" style="font-size: 1rem"></i>
                Details
            </button>
            <button class="driver-button" (click)="changeDriver(1)" [style]="drivers[1] ? 'background-color: white; color: black;' : 'background-color: #e5eff9; color: grey;'">
                <i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i>
                Absences
            </button>
            <button class="driver-button" (click)="changeDriver(2)" [style]="drivers[2] ? 'background-color: white; color: black;' : 'background-color: #e5eff9; color: grey;'">
                <i class="pi pi-calendar" style="font-size: 1rem"></i>
                Meetings
            </button>
        </div>
        <app-deatails-table *ngIf="drivers[0]"></app-deatails-table>
        <app-absence-threshold *ngIf="drivers[1]"></app-absence-threshold>
        <app-meeting-history *ngIf="drivers[2]"></app-meeting-history>
    </div>
    <app-navbar></app-navbar>
</div>
