<app-navbar [filter]="globalFormGroup.value" (attendance)="getAttendance($event)"></app-navbar>
<div class="page" [formGroup]="globalFormGroup">
    <div class="left">
        <div style="width: 100%;display: flex;justify-content: space-between;padding: 5px;">
            <p class="title">Filter Options</p>
            <p-button *ngIf="globalFormGroup.value.studentId ||globalFormGroup.value.courseId || globalFormGroup.value.seniority || globalFormGroup.value.status" (onClick)="clearFilters()" label="Clear All Filters" variant="text" severity="danger" />
        </div>
        <div class="filters">
            <p-card>
                <div style="display: flex;padding-bottom: 20px;">
                    <i class="pi pi-users" style="font-size: 25px;color: #2563EB;margin-right: 15px;"></i>
                    <p class="card-title">Students</p>
                </div>
                <p class="card-title">Filter by Students</p>

                <p-select formControlName="studentId" [options]="students" [filter]="true" [showClear]="true" placeholder="Select a Student" class="w-full">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2">
                            <div>{{ selectedOption }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-student #item>
                        <div class="flex items-center gap-2">
                            <div>{{ student }}</div>
                        </div>
                    </ng-template>
                </p-select>
            </p-card>

            <p-card>
                <div style="display: flex;padding-bottom: 20px;">
                    <i class="pi pi-book" style="font-size: 25px;color: green;margin-right: 15px;"></i>
                    <p class="card-title">Courses</p>
                </div>
                <p class="card-title">Filter by Courses</p>

                <p-select [options]="courses" formControlName="courseId" [filter]="true" [showClear]="true" placeholder="Select a Course" class="w-full">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2">
                            <div>{{ selectedOption }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-course #item>
                        <div class="flex items-center gap-2">
                            <div>{{ course }}</div>
                        </div>
                    </ng-template>
                </p-select>
            </p-card>

            <p-card>
                <div style="display: flex;padding-bottom: 20px;">
                    <i class="pi pi-graduation-cap" style="font-size: 25px;color: rgba(168, 85, 247, 1);margin-right: 15px;"></i>
                    <p class="card-title">Seniority</p>
                </div>
                <p class="card-title">Filter by Seniority</p>

                <p-select [options]="seniorities" formControlName="seniority" [filter]="true" [showClear]="true" placeholder="Select a Seniority" class="w-full">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2">
                            <div>{{ selectedOption }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-seniority #item>
                        <div class="flex items-center gap-2">
                            <div>{{ seniority }}</div>
                        </div>
                    </ng-template>
                </p-select>
            </p-card>

            <p-card>
                <div style="display: flex;padding-bottom: 20px;">
                    <i class="pi pi-bookmark-fill" style="font-size: 25px;color: rgb(220, 247, 85);margin-right: 15px;"></i>
                    <p class="card-title">Status</p>
                </div>
                <p class="card-title">Filter by Status</p>

                <p-select [options]="status" formControlName="status" [filter]="true" [showClear]="true" placeholder="Select a Status" class="w-full">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2">
                            <div>{{ selectedOption }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-status #item>
                        <div class="flex items-center gap-2">
                            <div>{{ status }}</div>
                        </div>
                    </ng-template>
                </p-select>
            </p-card>

            <p-card>
                <div style="display: flex;padding-bottom: 20px;">
                    <i class="pi pi-calendar" style="font-size: 25px;color: rgb(247, 161, 85);margin-right: 15px;"></i>
                    <p class="card-title">Start Date</p>
                </div>
                <p class="card-title">Filter by Start Date</p>

                <div class="flex-auto w-full">
                    <p-datepicker [minDate]="minDate" [maxDate]="maxDate" formControlName="startDate" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
                </div>
            </p-card>

            <p-card>
                <div style="display: flex;padding-bottom: 20px;">
                    <i class="pi pi-calendar" style="font-size: 25px;color: rgb(247, 85, 85);margin-right: 15px;"></i>
                    <p class="card-title">End Date</p>
                </div>
                <p class="card-title">Filter by End Date</p>

                <div class="flex-auto w-full">
                    <p-datepicker [minDate]="minDate" [maxDate]="maxDate" formControlName="endDate" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
                </div>
            </p-card>

            <!-- <p-card>
                <div style="display: flex;padding-bottom: 20px;">
                    <i class="pi pi-gauge" style="font-size: 25px;color: rgb(85, 217, 247);margin-right: 15px;"></i>
                    <p class="card-title">Absence Limit Percentage</p>
                </div>
                <div style="display: flex;justify-content: space-between;padding-bottom: 10px;">
                    <form [formGroup]="globalFormGroup">
                        <p-selectbutton [options]="stateOptions" formControlName="absenceLimitEnabled" optionLabel="label" optionValue="value" />
                    </form>
                </div>
                <input [disabled]="globalFormGroup.value.absenceLimitEnabled === 'off'? true : false" type="text" pInputText formControlName="absentLimit" class="w-full mb-4"/>
                <p-slider [disabled]="globalFormGroup.value.absenceLimitEnabled === 'off'? true : false" formControlName="absentLimit" class="w-full" />
            </p-card> -->
        </div>
    </div>


    <div class="right">
        <div class="card summary">
            <div class="card-body">
                <p class="card-title">Filter Summary</p>
                <p *ngIf="!globalFormGroup.value.studentId && !globalFormGroup.value.courseId && !globalFormGroup.value.seniority && !globalFormGroup.value.status" style="color: gray;">No filters applied</p>
                <p *ngIf="globalFormGroup.value.studentId" style="color: gray;">Selected Student: <p-tag icon="pi pi-user" severity="secondary" value="{{globalFormGroup.value.studentId}}" /></p>
                <p *ngIf="globalFormGroup.value.courseId" style="color: gray;">Selected Course: <p-tag icon="pi pi-book" severity="secondary" value="{{globalFormGroup.value.courseId}}" /></p>
                <p *ngIf="globalFormGroup.value.seniority" style="color: gray;">Selected Seniority: <p-tag icon="pi pi-graduation-cap" severity="secondary" value="{{globalFormGroup.value.seniority}}" /></p>
                <p *ngIf="globalFormGroup.value.status" style="color: gray;">Selected Status: <p-tag icon="pi pi-bookmark-fill" severity="secondary" value="{{globalFormGroup.value.status}}" /></p>
            </div>
        </div>

        <div class="card quick">
            <app-quick-start></app-quick-start>
        </div>
    </div>
</div>

<div class="resault" *ngIf="attendance">
    <p class="title">Filter Resaults</p>
    <app-general-details [attendance]="attendance"></app-general-details>
    <app-bar-chart [attendance]="attendance"></app-bar-chart>
    <p></p>
    <app-table [attendance]="attendance"></app-table>
</div>
