.page {
    width: 100%;
    padding: 30px;
    display: flex;
    padding-top: 100px;
}

.left {
    width: 70%;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.card-title {
    font-weight: 500;
    padding-bottom: 10px;
}

.session {
    width: 100%;
}

.filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 16px;
}

p-card {
    flex: 1 1 calc(33.33% - 16px);
    padding: 5px;
    min-width: 330px;
    /* max-width: 100%; */
}

.right {
    width: 30%;
    padding-left: 20px;
}

.summary {
    background-color: rgba(216, 234, 253, 0.95);
    padding: 10px;
    margin-bottom: 20px;
}

::ng-deep .truncate-tag .p-tag-value {
    display: inline-block;
    max-width: 150px; /* adjust to your card width */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.quick {
    padding: 10px;
}

.resault {
    margin: 30px;
}

.spinner {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}
